<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SupraSeguros.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SupraSeguros.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8jb4vP4d7fRmx4U5u5D+mt1vYuaLw5/dN6gD9" crossorigin="anonymous">
    <style>
        .menu-parent {
            background-color: #264E72;
            color: white !important;
        }

        .menu-parent:hover {
            background-color: #1f3e5b;
            color: white !important;
        }

        .menu-sub {
            background-color: #00AEF0;
            color: white !important;
        }

            .menu-sub:hover {
                background-color: #0093cc;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-light border-bottom box-shadow mb-3" style="background-color: #264E72">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Supra Seguros</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mb-0">
                <nav class="nav flex-column bg-light border-right" id="accordionExample">
                   @*  <a class="nav-link text-dark menu-parent text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i> Home
                    </a>
                    <a class="nav-link text-dark menu-parent text-white" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="fas fa-shield-alt"></i> Privacy
                    </a> *@

                    <!-- Accordion for Clientes -->
                    <div class="nav-item">
                        <a class="nav-link text-dark menu-parent text-white" asp-area="" asp-controller="Customer" asp-action="Index">
                            <i class="fas fa-users"></i>Clientes
                        </a>
                        <a class="nav-link text-dark menu-parent text-white">
                            <i class="fas fa-users"></i>Agentes
                        </a>
                        <a class="nav-link text-dark menu-parent text-white">
                            <i class="fas fa-users"></i>Polizas
                        </a>
                        <a class="nav-link text-dark menu-parent text-white">
                            <i class="fas fa-users"></i>Pagos
                        </a>
                        <a class="nav-link text-dark menu-parent text-white">
                            <i class="fas fa-users"></i>Siniestros
                        </a>

                    </div>

                    <!-- Example of another accordion item -->
                   @*  <div class="nav-item">
                        <a class="nav-link text-dark menu-parent text-white" data-bs-toggle="collapse" href="#anotherCollapse" role="button" aria-expanded="false" aria-controls="anotherCollapse">
                            <i class="fas fa-bars"></i> Another Menu
                        </a>
                        <div class="collapse" id="anotherCollapse" data-bs-parent="#accordionExample">
                            <ul class="nav flex-column ms-3">
                                <li class="nav-item"><a class="nav-link text-dark ms-3 menu-sub text-white" href="#">Submenu 1</a></li>
                                <li class="nav-item"><a class="nav-link text-dark ms-3 menu-sub text-white" href="#">Submenu 2</a></li>
                            </ul>
                        </div>
                    </div> *@

                </nav>
            </div>
            <div class="col-md-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SupraSeguros.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
